/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
}

/* Header styles */
header {
    background-color: #bbb3b3;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.logo {
    text-decoration: underline;
    margin-left: auto; 
   color: rgb(58, 45, 45);
   text-align: left;
}

header h1 {
    margin: 0;
}



nav {
    display: flex;
    justify-content: flex-end; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #636161;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
}
main {
    padding: 20px;
    text-align: center;
}

main img {
    width: 200px;
    border-radius: 50%;
    margin-top: 20px;
}

blockquote {
    font-style: italic;
    color: #555;
}

/* Body text styles */
p {
    line-height: 1.6;
}

/* Progress bar styles */
progress {
    width: 20%;
    height: 20px;
    margin-bottom: 10px;
}

/* Footer styles */
footer {
    margin-top: 30px;
    padding: 20px;
    background-color: #bbb3b3;
    color: #fff;
    text-align: center;
}

hr {
    border-color: #fff;
}

footer a {
    color: #fff;
    margin-right: 10px;
}
